In [2]:
import keyword

In [4]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [5]:
#Ternary Operator
a,b=10,20
a=30 if a<b else 25
a

30

In [6]:
min=a if a<b else b
min

20

In [7]:
c=5
min=a if a<b and a<c else b if b<c else c
min

5

In [8]:
max=a if a>b and a>c else b if b>c else c
max

30

In [9]:
max='a' if a>b and a>c else 'b' if b>c else 'c'
max

'a'

In [11]:
#math module
import math
math.factorial(5)

120

In [12]:
math.sqrt(25)

5.0

In [13]:
math.pi

3.141592653589793

In [14]:
math.tau

6.283185307179586

In [15]:
math.e

2.718281828459045

In [16]:
#Area of a circle
x=math.pi
x

3.141592653589793

In [19]:
r=10
Area=x*r**2
Area

314.1592653589793

In [25]:
x,y=[int(x) for x in input("Enter to numbers : ").split()]
x

Enter to numbers : 2 3

2

In [26]:
y

3

In [27]:
a,b,c = [float(x) for x in input("Enter 3 floating point numbers : ").split(",")]
a

Enter 3 floating point numbers : 13.03, 12.87, 14.56

13.03

In [28]:
b

12.87

In [29]:
c

14.56

In [31]:
#eval Function take a String and evaluate the Result
x=eval("10+20+30")
x

60

In [32]:
y=eval("10*34+6")
y

346

In [35]:
from sys import argv
print("The Number of Command Line Arguments:", len(argv))
print("The List of Command Line Arguments:", argv)
print("Command Line Arguments one by one:")
for x in argv:
    print(x)

The Number of Command Line Arguments: 3
The List of Command Line Arguments: ['/home/tycoon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py', '-f', '/home/tycoon/.local/share/jupyter/runtime/kernel-6cbff0d9-a616-4017-9b8c-7555bc43fe30.json']
Command Line Arguments one by one:
/home/tycoon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py
-f
/home/tycoon/.local/share/jupyter/runtime/kernel-6cbff0d9-a616-4017-9b8c-7555bc43fe30.json

In [38]:
def greet():
    print("Hello")

In [39]:
greet()

Hello

In [40]:
greet()
greet()
greet()

Hello
Hello
Hello

In [41]:
def greet_name(name):
    print(f"Hello {name}")

In [42]:
greet_name("Ramarao")

Hello Ramarao

In [43]:
greet_name("Subbarao")

Hello Subbarao

In [44]:
def square_value(number):
    return number**2

In [45]:
square_value(5)

25

In [46]:
square_value(25)

625

In [48]:
def add_2(a,b):
    return a+b

In [49]:
add_2(3,7)

10

In [50]:
def odd_even(number):
    if number%2==0:
        print(f"{number} is an even number")
    else:
        print(f"{number} is an odd number")

In [51]:
odd_even(14)

14 is an even number

In [52]:
odd_even(3)

3 is an odd number

In [53]:
def facto(number):
    result=1
    while number>=1:
        result*=number
        number=number-1
    return result

In [54]:
facto(3)

6

In [55]:
facto(5)

120

In [56]:
for i in range(1,10):
    print(f"The factorial of {i} is {facto(i)}")

The factorial of 1 is 1
The factorial of 2 is 2
The factorial of 3 is 6
The factorial of 4 is 24
The factorial of 5 is 120
The factorial of 6 is 720
The factorial of 7 is 5040
The factorial of 8 is 40320
The factorial of 9 is 362880

In [59]:
def multi_func(a,b):
    summ = a+b
    diff=a-b
    mul=a*b
    div=a/b
    return summ,diff,mul,div

In [60]:
multi_func(5,10)

(15, -5, 50, 0.5)

In [61]:
x=multi_func(10,5)
for i in x:
    print(i)

15
5
50
2.0