In [1]:
#functions

In [ ]:
#DRY

In [2]:
i=1
n=7
for i in range(i,n+1):
    print(i*'*')

*
**
***
****
*****
******
*******

In [3]:
i=1
n=7
for i in range(i,n+1):
    print(i*'*')
i=1
n=7
for i in range(i,n+1):
    print(i*'*')

*
**
***
****
*****
******
*******
*
**
***
****
*****
******
*******

In [4]:
def trian():
    i=1
    n=7
    for i in range(i,n+1):
        print(i*'*')

In [6]:
trian()
trian()

*
**
***
****
*****
******
*******
*
**
***
****
*****
******
*******

In [7]:
def trian(n):
    i=1
    
    for i in range(i,n+1):
        print(i*'*')

In [8]:
trian(10)

*
**
***
****
*****
******
*******
********
*********
**********

In [9]:
def prim(num1,num2):
    sum1=num1+num2
    diff=num1-num2
    mul=num1*num2
    div=num1/num2
    print(sum1,diff,mul,div)

In [10]:
prim(67,3)

70 64 201 22.333333333333332

In [11]:
def prim(num1,num2):
    sum1=num1+num2
    return sum1

In [12]:
prim(4,5)

9

In [13]:
def even(n):
    if n%2==0:
        return n

In [14]:
even(9)

In [15]:
even(10)

10

In [16]:
Mystring = "malayalam"
if Mystring[::]==Mystring[::-1]:
    print("Palindrome")

Palindrome